.projectCard{
  box-shadow: 2px 5px 10px 6px rgba(235, 234, 242, 1);
  border-radius: 20px !important;
  border: none !important;
  width: 100%;
  height: 365px !important;

  img{
    border-radius: 20px 20px 0 0;
  }

  .cardTitle{
    font-size: 24px;
    font-weight: 700;
    color: var(--highlight);
  }
  .cardBody{
    padding: 2em;
    color: var(--font-color) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &:hover {
    animation: bounce .5s;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px) scale(1.05);
    }
  }

}

@media(max-width: 767px){
  .projectCard{
    height: auto !important;
    .cardBody{
      justify-content: start;
    }
  }
}