:root{
  --primary: #2E005D ;
  --secondary: #9966CC  ;
  --highlight: #6e07f3;
  --shadow: #763D6D;
  --font-color: #2E005D;
  --light: #faf4d3;
}

*{
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248,249,250) !important;
  color: var(--font-color) !important;
}

::-webkit-scrollbar {
  width: 8px; /* Set width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary); /* Set color of the track */
}

.primary{
  color: var(--primary);
}
.secondary{
  color: var(--secondary);
}
.highlight{
  color: var(--highlight);
}

.title{
  color: var(--primary);
}

.bg{
  &-light{
    background-color: var(--light) !important;
  }
}

a{
  color: var(--highlight) !important;
}
a:hover{
  color: var(--primary) !important;
}

.btn{
  border-radius: 12px !important;
  &-secondary{
    border: 3px solid var(--highlight) !important;
    border-radius: 12px !important;
    background-color: var(--highlight) !important;
    font-weight: 500 !important;
    transition: all .15s ease-in-out;
    color: #fff !important;
    &:hover{
      scale: 1.015;
      background-color: var(--secondary) !important;
      border-color: var(--secondary) !important;
      color: var(--primary) !important;
      font-weight: 600 !important;
    }
    &:active{
      background-color: var(--primary) !important;
      border-color: var(--primary) !important;
      color: #fff !important;
    }
  }
  &-outline{
    border: 3px solid var(--highlight) !important;
    color: var(--highlight) !important;
    background-color: transparent !important;
    font-weight: 600 !important;

    &:hover{
      color: #fff !important;
      background-color: var(--secondary) !important;
      border-color: var(--secondary) !important;
      font-weight: 600 !important;
    }
    &:active{
      background-color: var(--highlight) !important;
      border-color: var(--highlight) !important;
      color: #fff !important;
    }
  }
  &-none{
    background-color: transparent !important;
    border: none !important;
  }
}

.nav-tabs .nav-link.active{
  font-weight: 700 !important;
  border: none !important;
  box-shadow: 4px 10px 10px hsla(0, 0%, 0%, 0.161);
  transform: scale(1.001)
}

.nav-link:hover{
  color: var(--highlight) !important;
}

@media(max-width: 991px){
  .nav-tabs .nav-link.active{
    border: 4px solid var(--highlight) !important
  }
}