:root{
  --primary: #6e07f3;
  --secondary: #004643;
  --highlight: #d1ac00;
  --shadow: #763D6D;
  --font-color: #001011;
  --light: #faf4d3;
}

*{
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248,249,250) !important;
  color: var(--secondary) !important;
}

.bg{
  &-light{
    background-color: var(--light) !important;
  }
}

.btn{
  &-outline{
    border: 3px solid var(--primary) !important;
    border-radius: 12px !important;
    color: var(--primary) !important;
    background-color: transparent !important;
    font-weight: 500 !important;

    &:hover{
      color: #fff !important;
      background-color: var(--highlight) !important;
      border-color: var(--highlight) !important;
      font-weight: 600 !important;
    }
  }
}
